<head>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="/leaflet/leaflet.js"></script>
</head>
<body>
    <div id="time"></div>
    <div id="map"></div>
    <div id="popup">
        <button onclick="removeMarker()">Delete</button>
        <button onclick="sendGuess()">Send</button>
    </div>
    <script src="index.js"></script>
</body>