<head>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="map.css" />
    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="/leaflet/leaflet.js"></script>
</head>
<body>
    <div id="time"></div>
    <div id="twitch-container">
        <iframe
            id="twitchPlayer"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div id="map"></div>
    <div id="popup">
        <button onclick="removeMarker()">Delete</button>
        <button onclick="sendGuess()">Send</button>
    </div>
    <script src="api.js"></script>
    <script src="map.js"></script>
</body>