body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

    #game-container h1{
        margin: 5px;
    }

    #game-container ol{
        margin: 5px;
        margin-left: 0px;
    }

form{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
}

#url-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    opacity: 0;
    transition: 0.2s opacity;
    align-items: center;
}

    #url-container #url{
        font-weight: bold;
    }

    #url-container button{

    }

#url-container.visible{
    opacity: 1;
}